* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blue(20px);
}

.heart {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    position: relative;
    transform: rotate(45deg);
    animation: beats 0.8s infinite;
}

.heart::before,
.heart::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: absolute;
}
.heart::before {
    top: 100;
    left: -100px
}
.heart::after {
    top: -100px;
    right: 0;
}

@keyframes beats {
    0% {
        transform: scale(1);
        transform: rotate(45deg);
    }
    50% {
        transform: scale(1.2) rotate(45deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(45deg);
    }
}